.navbar {
    background-color: #4d4d4d;
    /* border-bottom: 1px solid #ddd; */
    padding: 1rem 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
.navbar-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.1rem;
}
  
.navbar a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}
  
  .navbar a:hover {
    color: #d3d3d3;
}
  
.navbar a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #e0e0e0;
    transition: width 0.3s;
    width: 0;
}
  
.navbar a:hover::after {
    width: 100%;
}
  