.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redirect-text {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: #ccc;
}

.spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #409a87;
  will-change: transform;
}
