body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  /* background-color: #FFFAF1; */
  color: #333;
}

body, html, #root {
  min-height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #1d3742);
  background-color: #1d3742;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* overscroll-behavior: none; */
  
}
